<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movie.movie2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/dsd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".friends.MainActivity" />
        <activity android:name=".first.SplashActivity" />
        <activity android:name=".first.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first.SignupActivity" />
        <activity android:name=".chatting.ChattingActivity" />
        <activity android:name=".make.MakeActivity" />
        <activity android:name=".friends.ProfileActivity" />
        <activity android:name=".like.LikeActivity" />
        <activity android:name=".find.FindActivity" />
        <activity android:name=".find.DetailActivity" />
        <activity
            android:name=".chatting.Chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".chatting.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB9NxkEIhxL_eOlaLctrqJoVZM9mnAi3DE" />

        <activity android:name="MapActivity" />
        <activity
            android:name="MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>